* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #594BF0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    max-height: 40vh;
    min-width: 100vw;
    min-height: 100vh;
}

.form {
    background: #413B7F;
    color: #000;
    display: inline-block;
    width: 350px;
    height: 170px;
    min-width: 100px;
    min-height: 10vh;
    color: #ffff;
    border-radius: 8px;
}

h1 {
    margin-left: 130px;
}

.usuario {
    margin-left: 10px;
}

.email {
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    width: 250px;
    padding: 2px;
    outline: none;
}

.pass {
    border: none;
    border-radius: 2px;
    width: 250px;
    padding: 2px;
    outline: none;
}

.senha {
    margin-left: 22px;
    margin-top: 15px;
}

.botao {
    margin-left: 85px;
    margin-top: 10px;
    list-style-type: none;
    list-style-type: none;
    width: 50px;
    border-radius: 2px;
    border: none;
}

.botao a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.botao:hover {
    background-color: rgb(31, 192, 31);
    border: none;
}

.botao a:hover {
    color: #ffff;
}

.link {
    margin-top: 10px;
    margin-left: 110px;
}

.lin {
    text-decoration: none;
    list-style-type: none;
    color: #ffff;
}

.lin:hover {
    color: blue;
}

.pa {
    margin-left: 110px;
    margin-top: 10px;
}

.cadast {
    margin-left: 80px;
    border: none;
    border-radius: 2px;
    padding: 1px;
}

.cadast a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.cadast:hover {
    background-color: rgb(31, 192, 31);
    border: none;
    color: #ffff;
}

.cadast a:hover {
    color: #ffff;
}