* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

body {
    background-color: #594BF0;
    max-width: 1200px;
    max-height: 40vh;
    min-width: 100vw;
    min-height: 40vh;
}

.menu {
    width: 100%;
    padding: 25px;
    background-color: #110e14;
    min-width: 300px;
    min-height: 5vh;
}

.menu .lest ul li {
    display: inline-block;
    padding: 10px;
}

.menu .lest ul li a {
    color: #fff;
    text-decoration: none;
    text-align: none;
    transition: background 1s;
    background: none;
}

.menu .lest ul li a:hover {
    background-color: white;
    color: black;
    padding: 15px;
}

.rod_foot {
    background-color: #110e14;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.rodape .card a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

.rodape .card2 a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

.rodape {
    display: flex;
    justify-content: space-around;
}

.rod {
    font-size: 20px;
    margin-left: -18px;
}

.rod3 {
    font-size: 20px;
}

.foot {
    margin-top: 300px;
}

.foot .rod_foot .rodape .card p a {
    padding: 10px;
}

.pesquisa {
    position: absolute;
    left: 89%;
    top: 5%;
    transform: translate(-50%, -40%);
    background: #fff;
    border-radius: 40px;
    padding: 10px;
    opacity: 1;
    min-width: 1px;
    min-height: 1vh;
}

.pesq {
    float: right;
    width: 30px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.pe {
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 1px;
    color: black;
    font-size: 14px;
    transition: 0.3s;
    line-height: 20px;
    width: 0;
}

.pesquisa:hover .pe {
    width: 240px;
    padding: 2px;
}

.pesquisa:hover .pesq {
    background: white;
}

.img {
    margin-left: 100px;
    margin-top: 100px;
    padding: 40px;
    width: 600px;
    height: 500px;
}

.im {
    margin-left: 310px;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}

.inpu {
    margin-right: 100px;
    background-color: #fff;
    float: right;
    border-radius: 10px;
}

.inp {
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}